
.main{
  color: white;
  .headerVideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -25vh;
    left: 0;
  }
  .text{
    font-family: 'Roboto';
    position: relative;
    font-family: 900;
    width: 100%;
    height: 65vh;
    background-color: black;
    font-weight: 900;
    color: white;
    mix-blend-mode: multiply;
  }

  .largeText{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15vw;
    @include width-lg{
      display: none;
    }
  }

  .smallText{
    display: none;
    font-size: 50vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    span:not(:first-of-type){
      font-size: 25vw;
      letter-spacing: 10px;
      margin-top: -35px;
    }
    @include width-lg{
      display: flex;
    }
  }

  .navigation{
    position: relative;
    margin-top: -10px;
    padding-top: 70px;
    height: 36vh;
    background-color: black;
    text-align: center;
    @include width-lg{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    a{
      font-size: $fontSize500;
      font-weight: 300;
      margin-left: 5%;
      margin-right: 5%;
      border-bottom: 1px solid white;
      @include width-lg{
        display: block;
      }
    }
  }

  .mainContent{
    background-image: linear-gradient(black, #06176b);

    @include width-lg{
      padding: 35px;
      margin: auto;
    }
  }
}
