
.main{
  color: white;
  .headerVideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -25vh;
    left: 0;
  }
  .text{
    font-family: Roboto, 'Nunito',-apple-system, 'Open Sans', 'Helvetica Neue'; font-weight:900;
    position: relative;
    font-family: 900;
    width: 100%;
    height: 65vh;
    background-color: black;
    font-weight: 900;
    color: white;
    mix-blend-mode: multiply;
  }

  .largeText{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15vw;
    @include width-lg{
      display: none;
    }
  }

  .smallText{
    display: none;
    font-size: 50vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    span:not(:first-of-type){
      font-size: 25vw;
      letter-spacing: 2vw;
      margin-top: -10%;
    }
    @include width-lg{
      display: flex;
    }
  }

  .navigation{
    position: relative;
    display: flex;
    justify-content: center;
    height: 36vh;
    margin-top: -10px;
    padding-top: 2%;
    background-color: black;
    text-align: center;
    @include width-lg{
      justify-content: space-around;
      align-items: center;
    }
  }

  .navigationLinkWrapper{
    text-align: center;
    width: 250px;
    a{
      font-size: $fontSize600;
      font-weight: 300;
      margin-left: 5%;
      margin-right: 5%;  
    }
    @include width-lg{
      font-size: $fontSize500;
      width: 33.3%;
    }
  }

  .mainContent{
    background-image: linear-gradient(black, #06176b);

    @include width-lg{
      padding: 35px;
      margin: auto;
    }
  }
}
