.col{
    margin-bottom: $spacing500;
    max-width: 350px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    @include width-lg{
        text-align: center;
        align-items: center;
        
    }
}

.imageWrapper{
    img{
        border-radius: 15px;
    }
}

.projectName{
    font-size: $fontSize400;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.projectTitle{
    height: 75px;
    font-size: $fontSize300;
    font-weight: 300;
}