$primaryFontColor: #E0E0E0;

$fontSize100: 0.875rem;  // 14px
$fontSize200: 1.00rem;  // 16px
$fontSize300: 1.125rem;  // 18px
$fontSize400: 1.250rem;  // 20px
$fontSize500: 1.500rem;  // 24px
$fontSize600: 2.125rem;  // 34px
$fontSize700: 3.000rem;  // 48px
$fontSize800: 3.750rem;  // 60px
$fontSize900: 6.000rem;  // 96px


$spacing0: 0.000rem;    // 0px
$spacing50: 0.125rem;   // 2px
$spacing100: 0.250rem;  // 4px
$spacing200: 0.875rem;  // 14px
$spacing300: 1.000rem;  // 16px
$spacing400: 1.250rem;  // 20px
$spacing500: 2.250rem;  // 36px    
$spacing600: 4.000rem;  // 64px
$spacing700: 5.000rem;  // 80px
$spacing800: 7.000rem;  // 112px
$spacing900: 10.000rem; // 160px
