.projects{
    margin-bottom: 35vh;
}

.heading{
    font-size: $fontSize700;
    font-weight: 400;
}

.projectsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    @include width-lg{
        justify-content: center;
    }
}

.description{
    font-size: $fontSize500;
    font-weight: 300;
   
}

