.heading{
    font-size: $fontSize700;
    font-weight: 400;
}

.subHeading{
    font-size: $fontSize500;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 70px;
    &:not(:first-of-type){
        margin-top: $spacing600;
    }
}

